__pycache__/tones.cpython-37.pyc
__pycache__/intervals.cpython-37.pyc
__pycache__/scales.cpython-37.pyc
__pycache__/tone.cpython-37.pyc
artists.db
__pycache__/chords.cpython-37.pyc
python/__pycache__/scales.cpython-37.pyc
python/__pycache__/intervals.cpython-37.pyc
python/__pycache__/chords.cpython-37.pyc
.vscode/ipch/d1e9030b2249618b/MUSICATOR.ipch
.vscode/ipch/d1e9030b2249618b/mmap_address.bin
c/musicator.exe
c/test.exe
.vscode/ipch/6c875700f34b1f3/mmap_address.bin
.vscode/ipch/28d789b363f4155e/mmap_address.bin
.vscode/ipch/28d789b363f4155e/TEST.ipch
.vscode/settings.json
c/.vscode/ipch/28d789b363f4155e/TEST.ipch
c/.vscode/ipch/28d789b363f4155e/TEST.ipch
c/.vscode/ipch/d1e9030b2249618b/MUSICATOR.ipch
python/.vscode/ipch/2fd8633a89ece243/3.ipch
python/.vscode/ipch/394e443a8f82f4a4/2.ipch
python/.vscode/ipch/5b35e03aa2813e58/6.ipch
python/.vscode/ipch/5b35e03aa2813e58/mmap_address.bin
python/.vscode/ipch/394e443a8f82f4a4/mmap_address.bin
python/.vscode/ipch/2fd8633a89ece243/mmap_address.bin
c/.vscode/ipch/d1e9030b2249618b/MUSICATOR.ipch
c/.vscode/ipch/28d789b363f4155e/TEST.ipch
